/* Main Elements */

body{
	background-color: #000000;
}

#wrapper{
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
}

/* Header */
#header{
	padding: 10em 0 10em 0;
	max-width: 100%;
    height: auto;
	background-image: url("../images/header.jpg");
	background-color: #000000;
}
/* Navigation */

#nav{
	float: left;
	display: inline;
	width: 100%;
	margin-left: 30em;
	text-align: center;
}

#nav ul{
	float: left;
	list-style-type: none;
}

#nav ul li{
	text-decoration: none;
	float: left;
	margin: 1em;
}

h1{
	font-family: cursive;
	text-align: center;
	color: #ffffff;
}