/* Main Elements */

body{
	background-color: #000000;
	font-family: 'Rationale', Helvetica, sans-serif;
}

#wrapper{
	margin: 0 auto;
}

/* Logo */

#logo{
    padding-bottom: .5em;
	margin: 0 auto 0 auto;
	text-align: center;
    
}

/* Header */
#header{
	max-width: 100%;
    height: auto;
	background-image: url("../images/header.jpg");
}

h1{
	font-family: 'Love Ya Like A Sister', cursive, serif;
	text-align: center;
	color: #ffffff;
}
/* Navigation */

#nav{
	text-align: center;
	background-color: #5a0000;
	border: #000000 dotted;
}

#nav ul{
	list-style-type: none;
}

#nav li{
	display: inline;
	margin: 1em;
}

#nav a{
	display: inline-block;
}

/* Links */

a{
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	color: #000000; 
}

/* Chart */
#zombieChart{
	float: left;
}

#zombieChart2{
	float: right;
	margin-right: 5em;
}
/* Footer */

#footer{
	background-color: #5a0000;
	text-align: center;
}

audio{
	position: absolute;
	margin-top: .3em;
    bottom: 0;
    left: 0;
}